<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-78845456-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-78845456-2');
  </script>
  <!-- ## SITE META ## -->
  <meta charset="utf-8">
  <title>{% if page.meta_title %}{{ page.meta_title }} | {{site.title}}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <link rel="shortcut icon" type="image/x-icon" href="{{ " /assets/img/w-s-c-favicon.ico " | prepend: site.baseurl }}"> -->
  <link rel="canonical" href="{% if page.canonical %}{{ page.canonical }}{% else %}{{ site.url }}{% endif %}" />

  <!-- ## SOCIAL TAGS ## -->
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />

  <meta property="og:title" content="{% if page.social_title %}{{ page.social_title }}{% elsif page.meta_title %}{{ page.meta_title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description" content="{% if page.social_description %}{{ page.social_description }}{% elsif page.meta_description %}{{ page.meta_description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:image" content="{{ page.open_graph_img }}" />
  <meta property="twitter:title" content="{% if page.social_title %}{{ page.social_title }}{% elsif page.meta_title %}{{ page.meta_title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="”twitter:description" content="{% if page.social_description %}{{ page.social_description }}{% elsif page.meta_description %}{{ page.meta_description }}{% else %}{{ site.description }}{% endif %}" />
  <meta name=”twitter:url” content="{{ page.url }}" />
  <meta name=”twitter:image” content="{{ page.twitter_img }}" />

  <!-- ## LOAD STYLSHEETS ## -->
  <link rel="stylesheet" media="all" href="{{ "/assets/css/normalize.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" media="all" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" media="all" href="{{ "/assets/css/app.css" | prepend: site.baseurl }}" />
</head>