{% for gridItem in site.data.browse[page.href].teasers %}
<div class="Grid-item">
  {% if gridItem.name %}
  <h3 class="Grid-itemName">{{gridItem.name}}</h3>
  {% endif %}
  <img class="Grid-itemImg" src="{{ gridItem.imageFilename | prepend: "/" | prepend: page.href | prepend: "/assets/images/" | prepend: site.baseurl }}" alt="{{gridItem.imageAltText}}"
    nopin="nopin" /> {% if gridItem.description %}
  <p>{{gridItem.description}}</p>
  {% endif %} {% if gridItem.link %}
  <a href="{{gridItem.link}}">View more</a>
  {% endif %}
</div>
{% endfor %}