.BlogList {
  display: flex;
  flex-wrap: wrap;

  &-itemContainer {
    width: 100%;

     @include media($min-tablet) {
      max-width: 400px;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    margin: $base-spacing;
  }

  &-itemImg {
    margin-right: $larger-spacing;
    width: 100%;
    flex: 1;
  }

  &-itemDesc {
    flex: 1;
  }

  a {
    text-decoration: none;

    &:hover .BlogList-itemTitle {
      text-decoration: underline;
    }
  }

}

.Blog {
  img {
    max-width: 100%;
    margin-bottom: $base-spacing;
  }
}