.BlogList {
  display: flex;

  &-itemContainer {
    flex: 1;
  }

  &-item {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: $base-spacing;
  }

  &-itemImg {
    margin-right: $larger-spacing;
    max-width: 300px;
    max-height: 300px;
    flex: 1;
  }

  &-itemDesc {
    flex: 1;
  }

  a {
    text-decoration: none;

    &:hover .BlogList-itemTitle {
      text-decoration: underline;
    }
  }

}

.Blog {
  img {
    max-width: 100%;
    margin-bottom: $base-spacing;
  }
}