.BlogList {
  display: flex;

  &-item {
    display:flex;
    flex-wrap: wrap;
    margin: $base-spacing;
  }

  &-itemImg {
    margin-right: $larger-spacing;
    max-width: 300px;
    max-height: 300px;
  }

}