.Grid {
  display: flex;
  flex-wrap: wrap;

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $base-spacing;

    @media (min-width: $tablet-width) {
      margin: $base-spacing;
      flex-basis: calc(33.333% - 40px); 

      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        margin-top: 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-child(3n+1) {
        margin-left: 0;
      }
    }

    a {
      align-self: flex-start;
      margin-top: $small-spacing;
      display: block;
      text-decoration: none;
    }
  }

  &-itemImg {
    max-width:100%;
    max-height:100%;
  }
}