$announcement-height: 50px;

.Nav {
  display: flex;
  justify-content: center;
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: inline-block;
      list-style-type: none;
      margin-left: 0;

      
      li {
        text-align: center;
        border-bottom: 1px solid;
        margin-bottom: 10px;

        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
        }

        @media (min-width: $phone-large-width) {
          display: inline-block;
          text-align: initial;
          border-bottom: none;
          margin-bottom: 0;
        }


        a {
          text-decoration: none;
          margin-bottom: 10px;
          display: inline-block;

          @media (min-width: $phone-large-width) {
          display: inline;
          margin-bottom: 0;
        }

          &:hover {
            text-decoration: underline;
          }
        }
        &.active {
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &--header {
    font-size: $large-font-size;

    nav {
      display: none;

      &.is-active {
        display: flex;
      }

      @media (min-width: $phone-large-width) {
        display: flex;
      }

    }
  }

  &--footer {
    background-color: $light-brown;
    padding: $base-spacing;
  }
}

.hamburger {
  outline: none;
  align-self: flex-end;

  @media (min-width: $phone-large-width) {
    display: none;
  }

}

.SiteAnnouncement {
  height: $announcement-height;
  background-color: $brown;
  margin-bottom: $large-spacing;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $large-font-size;
}