---
---

@import url("https://fonts.googleapis.com/css?family=Oswald:300");

@font-face {
    font-family: 'candelabook';
    src: url('../../../assets/fonts/CandelaBook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'candelabook_italic';
    src: url('../assets/fonts/CandelaItalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'candelabold';
    src: url('../assets/fonts/CandelaBold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'candelabold_italic';
    src: url('../assets/fonts/CandelaBoldItalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import 'variables.scss';
@import 'typography.scss';
@import 'pageheader.scss';
@import 'nav.scss';
@import 'footer.scss';
@import 'grid.scss';

html, body, #app {
  margin: 0;
  padding: 0;
  font-weight: 400;
  background-color: $white;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1 0 auto;
  // flex: 1;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

ul, ol {
  padding: 0;
  line-height: 1.5em;
}

li {
  display: inline-block;
  margin: 0 $small-spacing;
}

.FlexContainer {
  @include flex-container;
  flex-wrap: wrap;
}

.Container {
  max-width: $page-width;
  align-self: center;
}

.PageContent {
  margin: 0 $base-spacing;

  a {
    text-decoration: underline;
  }

  p img {
    display: block;
    margin: 0 auto;
    max-width: 75%;
  }

  &--wide {
    max-width: $wide-content-width;
  }

  &-header {
    margin: $large-spacing 0;
    display: flex;
    align-items: center;
  }

  &-image {
    margin: 0 $base-spacing;
    max-width: 300px;

    &--wrapLeft {
      float: left;
      margin-left: 0;
    }

    &--wrapRight {
      float: right;
      margin-right: 0;
    }
  }
}

.Button {
  background-color: $brown;
  border: 1px solid $brown;
  border-radius: $base-radius;
  color: $white;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: $base-spacing;
  margin-bottom: $larger-spacing;
  text-decoration: none !important;
  font-size: $large-font-size;

  &:hover {
    cursor: pointer;
  }
}