---
---

@import url("https://fonts.googleapis.com/css?family=Oswald:300");

@font-face {
    font-family: 'candelabook';
    src: url('../../../assets/fonts/CandelaBook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'candelabook_italic';
    src: url('../assets/fonts/CandelaItalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'candelabold';
    src: url('../assets/fonts/CandelaBold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'candelabold_italic';
    src: url('../assets/fonts/CandelaBoldItalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import '../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

@import 'variables.scss';
@import 'typography.scss';
@import 'pageheader.scss';
@import 'nav.scss';
@import 'footer.scss';
@import 'grid.scss';
@import 'form.scss';
@import 'blog.scss';

html, body, #app {
  margin: 0;
  padding: 0;
  font-weight: 400;
  background-color: $white;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1 0 auto;
  // flex: 1;
  display: flex;
  flex-direction: column;
}

ul, ol {
  padding: 0;
  line-height: 1.5em;
  margin-left: $base-spacing;
  li {
    margin: 0 $small-spacing;
  }
}

.FlexContainer {
  @include flex-container;
  flex-wrap: wrap;
  &-child {
    flex: 1 1 100%;
     @media (min-width: $tablet-width) {
      flex: 1;
      margin-right: $base-spacing;

      // TODO: fix this if more than 2
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.Container {
  max-width: $page-width;
  align-self: center;
}

.PageContent {
  margin: 0 $base-spacing;

  p img {
    display: block;
    margin: 0 auto;
    max-width: 75%;
  }

  &--wide {
    max-width: $wide-content-width;
  }

  &-header {
    margin: $large-spacing 0;
    display: flex;
    align-items: center;
  }

  &-image {
    max-width: 100%;
    
    @media (min-width: $tablet-width) {
      margin: 0 $base-spacing;
      max-width: 300px;

      &--wrapLeft {
        float: left;
        margin-left: 0;
      }

      &--wrapRight {
        float: right;
        margin-right: 0;
      }
    }
  }
}

.Button {
  border: 1px solid $brown;
  border-radius: $base-radius;
  color: $brown;
  font-weight: $heavy-font-weight;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $small-spacing $base-spacing;
  margin-bottom: $larger-spacing;
  text-decoration: none !important;
  font-size: $large-font-size;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    background-color: $light-brown;
  }

  &--big {
    padding: $base-spacing;
  }

  &--solid {
    background-color: $brown;
    color: $white;

    &:hover {
      background-color: darken($brown, 10%);
    }
  }
}

button.Button {
  width: 100%;
}