--- 
layout: default 
meta_title: "Christmas Stockings"
meta_description: ""
href: "christmas-stockings"
---

<div class="PageContent">
  <h2>Made to order Christmas stockings</h2>
  <p>
    My stockings feature a variety of whimsical characters and Christmas themed pictures stitched into them. 
    Finished stockings measure approximately 8in across and 18in from top to toe. The stockings are large enough 
    to be filled with stocking stuffers but also perfect if you're just looking to add some Christmas cheer to 
    your holiday decor.
  </p>
  <p>
    Each stocking takes approximately 12-15 hours to complete and all are made to order.
    This allows you to customize your color choices, which direction the stocking faces, and if you want 
    personalization.
  </p>
  <p>My stockings are made from 100% acrylic yarn. Acrylic yarn holds up better to washing and drying and being 
    stuffed full of gifts than wool or other natural fibers. Machine wash delicate, tumble dry low. All items made 
    in a smoke-free, dog friendly home.
  </p>

 <div class="Grid">
    {% include teasers.html %}
  </div>
  <a href="/contact" class="Button Button--fullWidth Button--big">Contact me to get started</a>
  <h2>Past designs</h2>
  <div class="Grid">
    {% include gallery.html %}
  </div>
</div>