--- 
layout: default 
meta_title: "Art Yarn Scarves | Blind Dog Yarns"
meta_description: ""
href: "scarves"
open_graph_img: /assets/images/BlindDogYarns-vector-black.svg
twitter_img: /assets/images/BlindDogYarns-vector-black.svg
---

<div class="PageContent">
  <h2>Ready to ship art yarn scarves</h2>
  <p>
    These one of a kind cowls and scarves are made with a combination of commercial acrylic yarn and hand spun wool art yarn. The art yarn was hand dyed, blended, and spun by me and adds such
    a fun, funky touch to the common scarf. These cowls and scarves are lightweight and would be great in fall or spring or to complete your
    winter outfit.
  </p>
  <h3>Pricing</h3>
  <p>
    All of the scarves pictured below are ready to ship and available for $32.
  </p>
  <a href="/contact" class="Button Button--big">Contact me to place an order</a>
 
  <h3>Infinity Scarves</h3>
  <div class="Grid Gallery">
    {% assign collection = site.data.browse[page.href].gallery | where: "type", "infinityScarf" %} {% include gallery.html collection=collection
    %}
  </div>
  
  <h3>Cowls</h3>
  <div class="Grid Gallery">
    {% assign collection = site.data.browse[page.href].gallery | where: "type", "cowl" %} 
    {% include gallery.html collection=collection %}
  </div>
</div>