--- 
layout: default 
meta_title: "Scarves"
meta_description: ""
href: "scarves"
---

<div class="PageContent">
  <h2>Ready to ship</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent placerat lacus auctor porta mollis. Vivamus in sollicitudin
    ante. In pellentesque vulputate porttitor. Cras at tellus et arcu feugiat porttitor sed ac nisl. Nam euismod sem nisl,
    vitae maximus ante dapibus et. Morbi fermentum libero volutpat posuere condimentum. Aliquam erat volutpat. Aliquam egestas
    pulvinar libero, nec consectetur lacus cursus non.</p>
  <p>Vivamus dictum odio tortor, vitae posuere massa congue vel. Nunc tristique rhoncus lorem vel luctus. Ut iaculis tellus sit
    amet est congue, a convallis purus suscipit. Vestibulum in ullamcorper purus. Morbi facilisis et nisi facilisis gravida.
    Donec egestas lacinia molestie.</p>
  <div class="Grid">
    {% include gallery.html %}
  </div>
  <a href="/contact" class="Button Button--fullWidth Button--big">Contact me to place an order</a>
  <h2>Made to order</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent placerat lacus auctor porta mollis. Vivamus in sollicitudin
    ante. In pellentesque vulputate porttitor. Cras at tellus et arcu feugiat porttitor sed ac nisl. Nam euismod sem nisl,
    vitae maximus ante dapibus et. Morbi fermentum libero volutpat posuere condimentum. Aliquam erat volutpat. Aliquam egestas
    pulvinar libero, nec consectetur lacus cursus non.</p>
  <p>Vivamus dictum odio tortor, vitae posuere massa congue vel. Nunc tristique rhoncus lorem vel luctus. Ut iaculis tellus
    sit amet est congue, a convallis purus suscipit. Vestibulum in ullamcorper purus. Morbi facilisis et nisi facilisis gravida.
    Donec egestas lacinia molestie.</p>
  <div class="Grid">
    {% include gallery.html %}
  </div>
  <a href="/contact" class="Button Button--fullWidth Button--big">Contact me to get started</a>
</div>