<!doctype html>
<html>

{% include head.html %}

  <body{% if page.body_class %} class="{{ page.body_class }}" {% endif %}>
    <div id="app">
      <div class="PageHeader">
        <div class="Container">
          <img class="PageHeader-logo" src="{{ "/assets/images/BlindDogYarns-vector-black.svg" | prepend: site.baseurl }}" />
          <h1 class="PageHeader-title">Blind Dog Yarns</h1>
        </div>
        <button id="hamburger" class="hamburger hamburger--squeeze" type="button" aria-label="Menu" aria-controls="navigation">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <div class="Nav Nav--header">
          {% include nav.html %}
        </div>
      </div>
      <div class="SiteAnnouncement">
        <div class="Container">
          {{site.announcement}}
        </div>
      </div>
      <div class="Container">
        {{ content }} 
      </div>
    </div>
    {% include footer.html %}
    <script>
      var hamburger = document.getElementById('hamburger');
      var headerNav = document.querySelector('.Nav--header nav');
      hamburger.addEventListener("click", function (evt) {
        hamburger.classList.toggle('is-active')
        headerNav.classList.toggle('is-active')
      })
    </script>
  </body>
</html>